.myAppClass {

    font-family: Verdana;
    color: red;
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    background-color: pink;
}

.buttonClass {

    font-family: Times;
    color: black;
    background-color: wheat;

}

.buttonClassBlue{
    color : blue;
    background-color: purple;
    font-family: American Typewriter;
    border: solid 1px #000;
    border-radius: 5px;
}

.windowClass {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: inherit;
    text-align: center;
    vertical-align: baseline;
}

.buttonClassYellow {
    font-family: Apple SD Gothic Neo;
    position: relative;
    background: yellow;
    border-radius: 50% / 10%;
    color: black;
    text-align: center;
    text-indent: .1em;
}

.buttonClassGreen {
    background: lightgreen;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

#id2 {
    position:absolute;
    top:20px;
    left:0px;
    text-align: center;
    vertical-align: middle;
}

#id3{
    margin-left: auto;
    text-align: center;
}

#id4{
    margin-left: 555px;
    margin-right: 555px;
    margin-top : 10px;
    margin-bottom : 10px;
    text-align: left;
    position: relative;
}
.buttonClassDelete{
    margin-left: 300px;
    margin-right: 310px;
    margin-bottom: 25px;
    margin-top: 10px;
    bottom: 25px;
    text-align: center;
    position: relative;
}