.myAppClass {

    font-family: Verdana;
    color: red;
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.buttonClass {
    background: #d9d9d9;
    background-image: -webkit-linear-gradient(top, #d9d9d9, #acb6bd);
    background-image: -moz-linear-gradient(top, #d9d9d9, #acb6bd);
    background-image: -ms-linear-gradient(top, #d9d9d9, #acb6bd);
    background-image: -o-linear-gradient(top, #d9d9d9, #acb6bd);
    background-image: linear-gradient(to bottom, #d9d9d9, #acb6bd);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 11px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.buttonClass:hover{
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.windowClass {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: baseline;
}


#id3{
    margin-left: auto;
    text-align: center;
}

#id4{
    margin-left: 380px;
    margin-right: 555px;
    margin-top : 10px;
    margin-bottom : 10px;
    text-align: left;
    position: relative;
}

#textBox{

    /* Tamanho */
    width: 500px;
    height: 35px;

    /* Bordas */
    border-radius: 10%;
    border-color: transparent;
}

.buttonClassDelete {

    margin-left: 490px;
    margin-right: 310px;
    margin-bottom: 25px;
    margin-top: 10px;
    bottom: 25px;
    text-align: center;
    position: relative;
    border-color: transparent;
    background-color: transparent;
    color: red;
}

.buttonClassDelete:hover {

    cursor: pointer;

    /* Alinhamento */
    margin-left: 490px;
    margin-right: 310px;
    margin-bottom: 25px;
    margin-top: 10px;
    bottom: 25px;
    text-align: center;
    position: relative;

    /* Estilo */
    background-color: #d90004;
    width: 75px;  height: 20px;  color: #fff;
    text-align: left;  font-size: 13px;


    /* Bordas */
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    border-color: transparent;

}